.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.linkbutton{
  color: blue;
  cursor: pointer;
  font-size: 14px;
}
.linkbutton:hover{
  text-decoration: underline;
}
body::-webkit-scrollbar {
  width: 7px;
  padding-top: 5px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
}
body::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 10px;
}
