.footer-Container{
    width: 100%;
    margin-top: 50px;
}
.email-box-input {
    color: #000000;
    display: block;
    width: 400px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 16px;
    padding: 1rem;
    outline: none;
}
.email-box-input:focus {
    outline: none;
}
	
.email-box-button {
  	appearance: none;
    border: none;
    background: transparent;
    color: #000000;
    font-size: 26px;
    padding-top: 5px;
    margin-left: 5px;
}
.email-box-button:hover,
.email-box-button:focus {

}
